/****colors

h1 blue-grey: #1b60a0
em grey: #8b8b8b

*****************/

body {
    margin: 0;
    padding: 0;
}

#main {
    transition: margin-left .5s;
    
}

hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    color: #1b60a0;
}

/************side nav**************/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/**************end side nav****************/


.hero {
    background-image: url('../images/background.jpg');
    height: 700px;
    width: 100%;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.col-left {
    width: 50%;
    float: left;
    margin: 50px auto
}

.description {
    padding: 0 50px;
}

.description h1 {
    text-align: center;
}

.food {
   width: 100%;
}

.bruschetta {
    height: 430px;
    display: block;
    margin: 0 auto;
}

.chef-pic {
    width: 100%;
}

.chef {
    text-align: center;
}

.chef::after {
    content: "";
    display: block;
    clear: left;
}

/********start specials**********/

.specials h1, h2 {
    text-align: center;
}

.specials p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.specials hr {
    width: 50%;
}

em {
    color: #8b8b8b;
}

.special-col {
    float: left;
    width: 33%;
}

.special-col p {
    padding: 0 10px;
}




.special-pic img {
    width: 100%;
}

.special-pic {
    padding: 15px;
}

.specials::after {
    content: "";
    display: block;
    clear: both;
}





/******ABOUT US PAGE*************/

/***********team**********/

.team {
    background-image: url('../images/chef3.jpg');
   background-repeat: no-repeat;
    height: 600px;
    color: #fff;
    text-align: center;
}

.team h1 {
    margin: 0;
    padding-top: 220px;
    color: #FFF;
}

.team em {
    color: #FFF;
}


/********start reviews*************/


.reviews h1 {
    text-align: center;
}

.reviews em {
    font-size: 14px;
}

.reviews::after {
    content: "";
    display: block;
    clear: both;
}

.customer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #000;
    display: block;
    margin: 0 auto;
}

.quote {
  margin: 20px auto;  
}

.p-font {
    font-size: 20px;
    line-height: 1.5em;
    font-family: 'Cormorant Garamond', serif;
}

.inner {
    padding: 0 50px;
}

/*************MENU*************/

.menu {
    background-image: url('../images/menu-background.jpg');
    height: 600px;
}

.menu h1 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding-top: 200px;
}

.main-courses {
    background-color: #e8e168;
}

.main-courses em {
    color: #000;
}

.main-courses h2 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    margin: 0;
    padding-top: 50px;
}

.main-courses::after {
    content:"";
    display: block;
    clear: both;
}

/*reservations*/

.contact {
    background-image: url('../images/contact-background.jpg');
    width: 100%;
    height: 1000px;
    background-size: cover;
    text-align: center;
    padding: 25px 0;
    background-color: #000;
}

.contact h1 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding-top: 100px;
}



/**********form**************/

.form {
    display: block;
    margin: 100px auto;
    text-align: center;
    background-color: rgba(107, 242, 77, .5);
    padding: 25px;
}


/************start footer***********/

.footer {
    text-align: center;
    padding: 25px 0;
    background-color: #000;
}

.footer h2 {
    font-family: 'Cormorant Garamond', serif;
    color: #fff !important;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #8b8b8b;
}

.footer p{
    color: #fff;
}

i {
    margin: 10px;
    color: #1b60a0;
}